* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

.navigation {
  display: flex;
  background-color: #4520ab;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-left: 92px;
  padding-right: 92px;
  width: 100%;
}

.header {
  width: 100%;
  background-color: #4520ab;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
}

div.menu_item {
  margin-right: 20px;
  white-space: nowrap;
}

.not_chosen {
  opacity: 0.3;
  padding: 28px 0 0 0;
}

.not_chosen:hover,
svg:hover,
img:hover,
.next:hover {
  opacity: 1;
  color: #ffbb5b;
  cursor: pointer;
}

.search_icon {
  padding: 28px 0 0 0;
}

svg {
  opacity: 0.3;
  stroke: white;
}

svg:hover {
  stroke: #ffbb5b;
}

#current {
  color: #ffbb5b;
  opacity: 1;
  border-bottom: 2px solid #ffbb5b;
  padding: 28px 0;
}

.cards_name {
  display: inline-block;
  color: #ffbc5b;
  font-size: 30px;
  padding-left: 92px;
  padding-top: 52px;
  padding-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  padding-left: 92px;
  padding-right: 92px;
  align-items: center;
  padding-bottom: 92px;
  flex-wrap: nowrap;
}

.next {
  color: #ffbc5b;
  font-size: 50px;
  font-weight: 400;
}

.movie_name {
  color: #989898;
  font-size: 16px;
  font-weight: 500;
}

.movie_desc {
  color: #515151;
  font-size: 14px;
}

.rating {
  background-color: #ffbc5b;
  width: 51px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  position: relative;
  line-height: 26px;
}

.new_rating {
  top: 50px;
  left: 20px;
}

.rec_rating {
  top: 50px;
  left: 20px;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.card {
  padding-right: 10px;
}

#burger_icon_adaptive,
#search_icon_adaptive {
  display: none;
}

.card,
.movie_image {
  width: 99%;
}

.card:hover, .next:hover {
  transform: scale(1.05, 1.05);
}

@media (min-width: 734px) and (max-width: 1230px) {
  #new_card_3,
  #rec_card_3 {
    display: none;
  }
  .cards {
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .cards_name {
    font-size: 30px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navigation {
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 0) and (max-width: 734px) {
  .menu {
    display: none;
  }

  #new_card_2,
  #rec_card_2 {
    display: none;
  }
  #new_card_3,
  #rec_card_3 {
    display: none;
  }
  .cards {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .cards_name {
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 100;
  }
  .navigation {
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #search_icon_adaptive svg {
    opacity: 1;
    stroke: #ffffff;
    display: block;
  }

  #burger_icon_adaptive,
  #search_icon_adaptive {
    display: block;
  }

  #burger_icon_adaptive,
  #search_icon_adaptive {
    display: block;
  }

  #burger_icon_adaptive,
  #search_icon_adaptive,
  #profile_image {
    padding-left: 15px;
  }

  .logo {
    flex: 1 1 auto;
  }

  .next {
    font-size: 25px;
  }

  .card:hover {
    transform: none;
  }
}
