* {
  box-sizing: border-box;
}

body {
  background-color: #232323;
  font-family: "Jost", sans-serif;
}

.container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  width: 20%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

button {
  background-color: #04aa6d;
  color: white;
  cursor: pointer;
  z-index: 10;
}
.button.stop {
  background-color: rgb(192, 41, 41);
  margin-top: 50px;
  width: fit-content;
}
/* input {
  width: 50%;
} */
.square {
  width: 140px;
  height: 160px;
  border-radius: 15%;
  background: #04aa6d;
}
h2 {
  color: #ffffff;
  margin-bottom: 10px;
}
h3 {
  color: #ffffff;
  padding-bottom: 10px;
}

.score-div {
  color: #ffffff;
  padding-bottom: 10px;
}

.result-score{
  color: #ffffff;
  padding-bottom: 10px;
  font-size: 40px;
  display: none;
}